* {
    font-size: larger;
    color: #0A3871;
}

/*********************** HEADER ***********************/
.caja_header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
}

img {
    width: 15%;
    max-width: 15%;
    height: auto;
}

.titulo {
    margin-left: 1em;
    font-weight: bold;
    font-size: large;
    color: blue;
}

.subtitulo{
    margin-left: 2sem;
    font-weight: bold;
    font-size: large;
    color: blue;
}

.caja_precioT{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.titulo_tipoCambio{
    font-size: small;
}



/*********************** MAIN ***********************/

main {
    height: 50%;
}

.caja_main {
    width: auto;
    display: grid;
    place-items: center;

}

.caja_juego {
    width: auto;
    display: grid;
    place-items: center;
}

.otro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container-foto{
    display: grid;
    grid-template-columns: auto; 
    justify-items: stretch;
    align-items: stretch;
    padding: 0px;  
    gap: 0px;
    background: #FFF;
}

.grid-item-foto{
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 0px; 
    background: FFF; 
    justify-self: stretch;
}

.grid_menu_galeria{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px;
    gap: 0px
}

.grid-item-opciones{
    display: grid;
    grid-template-columns: auto;
    gap: 5px;    
    justify-content: center;
    align-content: center;
}

.btn_opc_foto{
    
    background-color: #52BE80;
    /* Blue background */
    border: 3px solid #221b1b;
    /* Remove borders */
    color: #FFF;
    /* White text */
    padding: 12px 16px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    /*cursor: pointer;*/
    /* Mouse pointer on hover */
}

.btn_opc_foto:hover{
    background-color: #145A32;
}

video {
    background: rgba(0, 0, 0, 0.2);
    border: 0px solid #FFF;
    width: 100%;
    height: 100%;
}

.galeria{
    display: flex;
    align-items: flex-start;
    justify-content: center;    
}

.ajusteDIV{
    width: 100%;

}



/***********************    FOOTER ***********************/
footer {
    text-align: center;
    padding: 5px 40px;
    /*
    bottom: 0;
    position: absolute;*/
}

.caja_footer {
    width: auto;
    display: grid;
    place-items: center;
}

.img_desarrollador {
    border: 1px solid gray;
    border-radius: 8px;
    width: 25%;
    max-width: 25%;
    text-align: center;
}

.contacto_desarrollador {
    color: #0A3871;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.btn-material {
    padding: 0 16px;
    border-radius: 2px;
    background-color: #018786;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 15ms linear,
        box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

    height: 36px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn-material:hover,
.btn-material:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #159090;
}

.btn-material:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #61b4b3;
}

/*********************** vista celular ***********************/
@media screen and (max-width:480px) {

    h1 {
        text-align: center;
    }

    .img_desarrollador {
        width: 25%;
        max-width: 25%;
        height: auto;
    }  
    
    img{
        width: 25%;
        max-width: 25%;
        height: auto;
    }

    .caja_header,
    .caja_main,
    .caja_footer
    {
        width: auto;
        height: auto;
    }

    .caja_header_index{
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 10px;
    }

    .caja_header_carga{ 
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 10px;    
    }

    .caja_header_foto {
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 10px;
    }
   
    .style_IniciarJuego {
        font-size: 5vw;
        width: auto;
        height: auto;
        padding: auto;
    }

    iframe{
        width: auto;
        height: 350px;
    
    }

    video{
        width: 100%;
        height: 100%;
    }

    label{
        font-weight: bold;
    }
}